NAME=Bangboo
AVATAR=https://raw.githubusercontent.com/Cesio137/Bangboo/refs/heads/master/assets/avatar/Bangboo.png
TYPE=bot
BUILD=cargo build --release
MAIN=src/main.rs
START=bash -c "./target/release/$(cargo metadata --no-deps --format-version=1 | jq -r .packages[0].targets[0].name)"
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools,canvas,openssl,libgl
ID=1763990374172